.banner {
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;     // vertical centering
  // justify-content: center;
  text-align: center;
  color: white;
  margin-bottom: 10px;
}

// .container {
//   color: white;
//   // display: flex;
//   // align-items: center;     // vertical centering
//   // justify-content: center;
// }
