<h1>All Categories</h1>
<%= link_to "New Category", new_category_path %>
<div class="list-group">
  <% @categories.each do |category|%>
    <div class="list-group-item">
      <%= link_to category.name, category_path(category.id) %>
    </div>
  <% end %>
</div>
