
<div class="form_new">
  <h1>Add a new category</h1>
  <%= simple_form_for (@category) do |f|%>
    <%= f.input :name, placeholder: "The category name..." %>
    <%= f.submit class: "btn btn-warning" %>
  <% end %>
</div>

<%= link_to "Back", categories_path%>
